* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  width: 100%;
  height: 100%;
  font-family: "微软雅黑";
}
/*声明rem的大小*/
.box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-image: url(../img/5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.lock-screen {
  display: none;
  width: 100%;
  height: 100%;
  background-image: url(../img/10.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  transition: 2s;
}
.lock-time {
  width: 6.8rem;
  height: 6.2rem;
  padding-left: 4.6rem;
  padding-right: 4.6rem;
  padding-top: 1rem;
}
.lock-time span {
  display: block;
  height: 4rem;
  line-height: 160 40rem;
  color: #fff;
  font-size: 2.45rem;
  text-align: center;
  font-weight: normal;
}
.lock-time h5 {
  text-align: center;
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 0.8rem;
  color: #FFFFFF;
  font-weight: normal;
}
.lock-time h6 {
  text-align: center;
  height: 1.375rem;
  line-height: 1.375rem;
  font-size: 0.55rem;
  color: #FFFFFF;
  font-weight: normal;
}
.password {
  width: 100%;
  height: 18.75rem;
}
.password p {
  width: 100%;
  text-align: center;
  height: 32px;
  color: #FFFFFF;
  line-height: 32px;
  font-size: 32px;
}
.password .proving {
  width: 100%;
  height: 0.875rem;
  margin-top: 0.25rem;
  padding-top: 0.375rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.password .proving span {
  display: block;
  width: 0.45rem;
  height: 0.45rem;
  border-radius: 50%;
  border: 0.1rem solid #99cccc;
}
.password .proving .prov-list {
  background: #336699;
}
.password .num {
  width: 14rem;
  height: 15.5rem;
  padding-left: 2rem;
}
.password .num span {
  display: block;
  width: 3.05rem;
  height: 3.05rem;
  border: 0.05rem solid #ffffff;
  border-radius: 50%;
  text-align: center;
  line-height: 3.05rem;
  font-size: 1.5rem;
  color: #FFFFFF;
  float: left;
  margin-right: 1.2rem;
  margin-bottom: 0.625rem;
}
.password .num span:nth-of-type(10) {
  margin-left: 4.3rem;
}
.password .num .num-list {
  border: 0.05rem solid #ff0000;
  color: red;
  background: url(../img/timg.gif) no-repeat center center;
  background-size: cover;
}
.lock-footer {
  width: 100%;
  height: 2.45rem;
}
.lock-footer i {
  display: block;
  width: auto;
  height: 1rem;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #FFFFFF;
  float: left;
  margin-left: 2.25rem;
  font-style: normal;
}
.lock-footer strong {
  display: block;
  width: auto;
  height: 1rem;
  line-height: 1rem;
  float: right;
  font-size: 0.75rem;
  color: #FFFFFF;
  margin-right: 3rem;
  font-family: "agency fb";
}
.interface {
  display: none;
  width: 300%;
  height: 100%;
  transition: 0.5s;
  position: absolute;
  left: -100%;
  top: 0;
}
.interface-left {
  width: 16rem;
  height: 100%;
  float: left;
  overflow: auto;
}
.interface-warp {
  width: 15.25rem;
  margin: 1rem 0.35rem 0rem;
  padding-bottom: 0.75rem;
}
.interface-warp .warp-but {
  width: 15.25rem;
  height: 1.5rem;
  position: relative;
}
.interface-warp .warp-but .but-img {
  display: block;
  width: 0.775rem;
  height: 0.775rem;
  position: absolute;
  border: none;
  left: 0.35rem;
  top: 0.4rem;
}
.interface-warp .warp-but .img-img {
  display: block;
  width: 0.5rem;
  height: 0.95rem;
  position: absolute;
  border: none;
  left: 14.25rem;
  top: 0.3rem;
}
.interface-warp .warp-but .but {
  width: 13.6rem;
  height: 1.35rem;
  padding-left: 1.5rem;
  outline: none;
  font-size: 0.75rem;
  line-height: 1.5rem;
  color: #FFFFFF;
  background: #333333;
  border-radius: 0.5rem;
  border: 0.075rem solid #ffffff;
}
.interface-warp .warp-time {
  width: 100%;
  height: 3.875rem;
}
.interface-warp .warp-time .time-top {
  width: 10.25rem;
  height: 1.375rem;
  margin-top: 0.75rem;
  padding-left: 5rem;
  color: #FFFFFF;
  font-size: 1.25rem;
  line-height: 1.375rem;
}
.interface-warp .warp-time .time-down {
  width: 5rem;
  height: 1.65rem;
  padding-left: 10.25rem;
  color: #FFFFFF;
  font-size: 0.55rem;
  line-height: 1.65rem;
}
.interface-warp .warp-programme {
  width: 15.1rem;
  height: 6.1rem;
  border: 0.075rem solid #ffffff;
  border-radius: 0.5rem;
  background: rgba(153, 204, 204, 0.8);
  margin-bottom: 0.5rem;
}
.interface-warp .warp-programme h5 {
  width: 13.6rem;
  height: 1.55rem;
  padding-left: 1.5rem;
  background-color: #cccccc;
  background-image: url(../img/timg1.jpg);
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  background-position: 0.25rem 0.35rem;
  color: #333366;
  font-size: 0.55rem;
  line-height: 1.55rem;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}
.interface-warp .warp-programme span {
  display: block;
  width: 100%;
  height: 4.55rem;
  text-align: center;
  color: #666666;
  line-height: 4.55rem;
  font-size: 0.75rem;
}
.interface-warp .warp-siri {
  width: 15.1rem;
  height: 6.1rem;
  border: 0.075rem solid #ffffff;
  border-radius: 0.5rem;
  background: rgba(153, 204, 204, 0.8);
  margin-bottom: 0.5rem;
  overflow: hidden;
}
.interface-warp .warp-siri h5 {
  width: 13.6rem;
  height: 1.55rem;
  padding-left: 1.5rem;
  background-color: #cccccc;
  background-image: url(../img/siri.png);
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  background-position: 0.25rem 0.35rem;
  color: #333366;
  font-size: 0.55rem;
  line-height: 1.55rem;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}
.interface-warp .warp-siri h5 span {
  float: right;
  margin-right: 0.5rem;
}
.interface-warp .warp-siri .often {
  width: 100%;
  height: auto;
}
.interface-warp .warp-siri .often div {
  width: 2.55rem;
  height: 3.55rem;
  float: left;
  margin-top: 0.75rem;
  margin-left: 0.875rem;
}
.interface-warp .warp-siri .often div a {
  display: block;
  width: 100%;
  height: 2.55rem;
}
.interface-warp .warp-siri .often div a img {
  width: 100%;
  height: 100%;
}
.interface-warp .warp-siri .often div p {
  width: 2.55rem;
  height: 0.975rem;
  text-align: center;
  line-height: 0.975rem;
  color: #FFFFFF;
  font-size: 0.45rem;
  letter-spacing: 0.075rem;
}
.interface-warp .warp-sky {
  width: 15.1rem;
  height: 6.1rem;
  border: 0.075rem solid #ffffff;
  border-radius: 0.5rem;
  background: rgba(153, 204, 204, 0.8);
  margin-bottom: 0.5rem;
  overflow: hidden;
}
.interface-warp .warp-sky h5 {
  width: 13.6rem;
  height: 1.55rem;
  padding-left: 1.5rem;
  background-color: #cccccc;
  background-image: url(../img/sky.png);
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  background-position: 0.25rem 0.35rem;
  color: #333366;
  font-size: 0.55rem;
  line-height: 1.55rem;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}
.interface-warp .warp-map {
  width: 15.1rem;
  height: 6.1rem;
  border: 0.075rem solid #ffffff;
  border-radius: 0.5rem;
  background: rgba(153, 204, 204, 0.8);
  margin-bottom: 0.5rem;
  overflow: hidden;
}
.interface-warp .warp-map h5 {
  width: 13.6rem;
  height: 1.55rem;
  padding-left: 1.5rem;
  background-color: #cccccc;
  background-image: url(../img/map.png);
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  background-position: 0.25rem 0.35rem;
  color: #333366;
  font-size: 0.55rem;
  line-height: 1.55rem;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}
.interface-warp .warp-map span {
  display: block;
  width: 100%;
  height: 4.55rem;
  text-align: center;
  color: #666666;
  line-height: 4.55rem;
  font-size: 0.75rem;
}
.interface-warp .warp-caldendar {
  width: 15.1rem;
  height: 6.1rem;
  border: 0.075rem solid #ffffff;
  border-radius: 0.5rem;
  background: rgba(153, 204, 204, 0.8);
  margin-bottom: 0.5rem;
  overflow: hidden;
}
.interface-warp .warp-caldendar h5 {
  width: 13.6rem;
  height: 1.55rem;
  padding-left: 1.5rem;
  background-color: #cccccc;
  background-image: url(../img/timg1.jpg);
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  background-position: 0.25rem 0.35rem;
  color: #333366;
  font-size: 0.55rem;
  line-height: 1.55rem;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}
.interface-warp .warp-caldendar span {
  display: block;
  width: 100%;
  height: 4.55rem;
  text-align: center;
  color: #666666;
  line-height: 4.55rem;
  font-size: 0.75rem;
}
.interface-warp .lock-hold {
  width: 100%;
  height: 3.55rem;
  padding-top: 1.55rem;
}
.interface-warp .lock-hold span {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: #669999;
  color: #000000;
  display: block;
  margin-left: 6.625rem;
  font-size: 0.525rem;
  text-align: center;
  line-height: 2rem;
  letter-spacing: 0.1rem;
}
.interface-warp h4 {
  width: 100%;
  height: 1.5rem;
  font-size: 0.5rem;
  color: #FFFFFF;
  text-align: center;
  line-height: 1.5rem;
}
.interface-warp h6 {
  width: 100%;
  height: 1.5rem;
  font-size: 0.5rem;
  color: #FFFFFF;
  text-align: center;
  line-height: 1.5rem;
}
.interface-right {
  width: 32rem;
  height: 100%;
  float: left;
}
.right-top {
  width: 32rem;
  height: 23.625rem;
  margin-top: 0.675rem;
  position: relative;
  left: 0;
  top: 0;
}
.right-top .top-left {
  width: 16rem;
  height: 23.625rem;
  float: left;
}
.right-top .top-left .left-warp {
  width: 16rem;
  height: 23.125rem;
  padding-top: 0.5rem;
}
.right-top .top-left .left-warp div {
  width: 2.575rem;
  height: 3.55rem;
  float: left;
  margin-left: 1.125rem;
  margin-bottom: 0.175rem;
}
.right-top .top-left .left-warp div a {
  display: block;
  width: 2.575rem;
  height: 2.575rem;
}
.right-top .top-left .left-warp div a img {
  display: block;
  border: none;
  width: 2.575rem;
  height: 2.575rem;
  border-radius: 0.5rem;
}
.right-top .top-left .left-warp div p {
  width: 2.575rem;
  height: 0.975rem;
  text-align: center;
  line-height: 0.975rem;
  color: #FFFFFF;
  font-size: 0.45rem;
  letter-spacing: 0.075rem;
}
.right-top .top-right {
  width: 16rem;
  height: 23.625rem;
  float: left;
}
.right-top .top-right .right-warp {
  width: 16rem;
  height: 23.125rem;
  padding-top: 0.5rem;
}
.right-top .top-right .right-warp div {
  width: 2.575rem;
  height: 3.55rem;
  float: left;
  margin-left: 1.125rem;
  margin-bottom: 0.175rem;
}
.right-top .top-right .right-warp div a {
  display: block;
  width: 2.575rem;
  height: 2.575rem;
}
.right-top .top-right .right-warp div a img {
  display: block;
  border: none;
  width: 2.575rem;
  height: 2.575rem;
}
.right-top .top-right .right-warp div p {
  width: 2.575rem;
  height: 0.975rem;
  text-align: center;
  line-height: 0.975rem;
  color: #FFFFFF;
  font-size: 0.45rem;
  letter-spacing: 0.075rem;
}
.right-down {
  width: 16rem;
  height: 4.1rem;
  background: rgba(153, 204, 255, 0.7);
}
.right-down .down-warp {
  width: 16rem;
  height: 3.55rem;
  padding-top: 0.55rem;
}
.right-down .down-warp div {
  width: 2.575rem;
  height: 3.55rem;
  float: left;
  margin-left: 1.125rem;
  margin-bottom: 0.175rem;
}
.right-down .down-warp div a {
  display: block;
  width: 2.575rem;
  height: 2.575rem;
}
.right-down .down-warp div a img {
  display: block;
  border: none;
  width: 2.575rem;
  height: 2.575rem;
}
.right-down .down-warp div p {
  width: 2.575rem;
  height: 0.975rem;
  text-align: center;
  line-height: 0.975rem;
  color: #FFFFFF;
  font-size: 0.45rem;
  letter-spacing: 0.075rem;
}
.drawing {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #FFFFFF;
}
.counter {
  width: 100%;
  height: 31.95rem;
  background: #333333;
}
.counter #back {
  display: block;
  width: 100%;
  height: 3.05rem;
  font-size: 0.75rem;
  padding-top: 0.5rem;
  color: #FFFFFF;
}
.counter .num-num {
  width: 15.5rem;
  height: 4.95rem;
  line-height: 4.95rem;
  font-size: 3rem;
  color: #FFFFFF;
  background: #333333;
  outline: none;
  border: none;
}
.counter .counter-key {
  width: 15.8rem;
  height: 19.75rem;
  background: #FF0000;
  border: 0.1rem solid #000000;
}
.counter .counter-key a {
  display: block;
  width: 3.9rem;
  height: 3.9rem;
  float: left;
  border: 0.025rem solid #666666;
  text-align: center;
  font-size: 1.25rem;
  line-height: 3.9rem;
  color: #000000;
  background: #cccccc;
}
.counter .counter-key a:nth-of-type(1) {
  width: 7.85rem;
}
.counter .counter-key a:nth-of-type(16) {
  width: 7.85rem;
}
.counter .counter-key a:nth-of-type(17) {
  width: 7.85rem;
}
.kalendar {
  width: 100%;
  height: 27.75rem;
  margin-top: 0.65rem;
}
.kalendar .kalendar-back {
  width: 100%;
  height: 1.875rem;
  padding-top: 0.175rem;
  border-bottom: 0.025rem solid #ff0000;
}
.kalendar .kalendar-back span {
  display: block;
  width: 1.25rem;
  height: 1.875rem;
  line-height: 1.875rem;
  font-size: 1rem;
  text-align: center;
  float: left;
  color: red;
}
.kalendar .kalendar-back .back-year {
  width: 7.5rem;
  height: 1.875rem;
  line-height: 1.875rem;
  color: red;
  font-size: 0.75rem;
  text-align: right;
  float: right;
  margin-right: 1.25rem;
}
.kalendar .week {
  width: 15.15rem;
  height: 1.25rem;
  border-bottom: 0.025rem solid #333333;
  padding-left: 0.375rem;
  padding-right: 0.475rem;
}
.kalendar .week span {
  display: block;
  width: 2.15rem;
  height: 1.25rem;
  text-align: center;
  line-height: 1.25rem;
  font-size: 0.625rem;
  color: #000000;
  float: left;
}
.kalendar .days {
  width: 15.15rem;
  height: 19.75rem;
  padding-top: 2.75rem;
  background: rgba(153, 204, 204, 0.3);
  padding-left: 0.375rem;
  padding-right: 0.475rem;
}
.kalendar .days span {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  text-align: center;
  line-height: 1.75rem;
  font-size: 1rem;
  background: tan;
  color: #FFFFFF;
  display: block;
  float: left;
  margin-left: 0.375rem;
  margin-bottom: 1.25rem;
}
.kalendar .days .old {
  background: #CCCCCC;
}
.kalendar .days .active {
  background: red;
}
.kalendar .cut {
  width: 15.15rem;
  height: 1.875rem;
  padding-left: 0.375rem;
  padding-right: 0.475rem;
}
.kalendar .cut span {
  text-align: center;
  display: block;
  width: 5rem;
  height: 1.875rem;
  line-height: 1.875rem;
  font-size: 1rem;
  letter-spacing: 0.075rem;
  color: red;
}
.kalendar .cut .prev {
  float: left;
}
.kalendar .cut .next {
  float: right;
}
.photo {
  width: 15.5rem;
  height: 100%;
  margin-top: 0.65rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  overflow: auto;
}
.photo p {
  width: 100%;
  height: 1rem;
}
.photo p span {
  display: block;
  width: 5rem;
  height: 1rem;
  line-height: 1rem;
  color: red;
  font-size: 0.65rem;
  text-align: center;
}
.photo p .photo-back {
  float: left;
  width: 1rem;
  font-size: 1rem;
}
.photo p .screen-bg {
  float: right;
}
.photo p .interface-bg {
  float: right;
}
.photo .photo-img {
  width: 100%;
}
.photo .photo-img div {
  width: 7rem;
  height: 8.75rem;
  float: left;
  position: relative;
  margin-left: 0.5rem;
  margin-top: 0.75rem;
}
.photo .photo-img div:nth-child(even) {
  margin-top: 1.25rem;
}
.photo .photo-img div span {
  display: block;
  width: 0.75rem;
  height: 0.75rem;
  border: 0.1rem solid #333333;
  position: absolute;
  right: -0.375rem;
  top: -0.375rem;
}
.photo .photo-img div .span_true {
  background: url(../img/true.jpg) no-repeat center center;
  background-size: cover;
  border: 0.1rem solid #2e8b57;
}
.photo .photo-img div img {
  display: block;
  width: 100%;
  height: 100%;
}
.butt {
  width: 90%;
  height: 2.5rem;
  font-size: 1.25rem;
  line-height: 2.5rem;
}
#list {
  width: 2.5rem;
  height: 1.25rem;
  background: #000000;
  color: #FFFFFF;
  display: block;
}
